.intro {
  color: #BC86E3;
  font-family: Arial, Helvetica, sans-serif;
}

.fancy {
  font-style: italic;
  font-size: xx-large; 
}

.column {
  width: 200px;
  float: left;
  color: #FD95B2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  background-color: #F5CAF9; 
}

img.lorem {
  width: 50%;
  height: auto;
}

img.ipsum {
  width: 50%;
  height: auto;
}

img.blog {
  float: sidebar;
  background-color: hotpink; 
  width: 100%;
  height: auto;
}